:root {
    --light-green: #37E300;
    --darker-green: #54CD2D;
    --darkest-green: #1F8000;
    --gray: #b9b8b8;
    --light-gray: #d6d6d6;
    --black: #000000;
    --light-black: #161616;
    --background-color : #444444;
  }

body{
    background-color: var(--background-color);
     /* Add the blur effect */
}

#splash{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    z-index: 200;
    color: white;
    text-align: center;
    padding-top: 0%;
}

#splash.display-none{
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    z-index: -10;
    color: white;
    text-align: center;
    padding-top: 0%;
    transition: all 0.7s ;
}


@keyframes fadeIn{
    to{
        opacity: 1;
    }
}

.fade-in{
    opacity: 0;
    animation: fadeIn 1s ease-in forwards
}

#footer {
        position: relative;
      margin-top: -0%; /* negative value of footer height */
      height: -10%;
      clear:both;
      align-items: center;
      margin-bottom: 5px;
  } 

.btn-custom{
    letter-spacing: -1px;
    font-weight: 550;
    padding: 4px 8px;
    background-color: var(--light-green);
    border: 1px solid var(--black);
    border-radius: 4px;
    color: var(--light-black);
}

.btn-custom:hover{
    background-color: var(--darker-green) !important;
}
.btn-custom:active{
    box-shadow: 0 0 0 2px var(--gray);
}

h5{
    color: var(--black);
    font-weight: 450;
    font-size: 18px;
}

.attribute{
 color: var(--light-black);   
 font-weight: 300;

}

#hero_holder{
    margin: 100px 40px 10 40px;
    padding-top :60px;
    position : static;
}

.hero-card{
    text-align: center;
    background-color: var(--gray);
    float: left;
    margin: 10px;
    border-radius: 2%;
    border: 3px solid var(--light-green);
    padding: 5px 20px 10px 20px;
}

.hero-card:hover {
    cursor: pointer;
}

.name-background{
    background-color: var(--light-gray);
    border: 2px solid var(black);
}

.hero-card h2{
    font-weight: 600;
    letter-spacing: -2px;
    color: var(--light-black);
    padding: 2px 6px;
}

.hero-card-pic{
    border-radius: 5%;
    margin-bottom: 8px;
    width: 200px;
    height: 200px;
    box-shadow: 0px 2px 4px 0 var(--light-black) ;
}

.modalCol {
    padding: 10px;
    margin: 5px;
}

.modal-image {
    border-radius: 5%;
    margin-bottom: 8px;
    width: 300px;
    height: 300px;
    box-shadow: 0px 2px 4px 0 var(--light-black) ;
}

.form-check-label{
color: white;
font-weight: 500;
font-size:small;
}
.form-check-input{
color: #000000;
background-color: white;
}

.form-check-input:checked{
    background-color: var(--light-green);
    border: 2px black;
}

.status-dropdown-toggle{
    min-width : 170px;
}

.search{
    min-width: 350px;
}

@keyframes navbar-appear{
    0% { top: -50px;}
    100% { top: 0px;}
}

@keyframes navbar-disappear{
    0% {top : 0px;}
    100% { top : -50px;}
}

#versus {
    font-size: larger;
    color: red;
    opacity: 0;
    transition: all 0.4s ease-in;
}

.navbar-attached {
    position: fixed;
    top: 0px;
    width: 100%;
    opacity: 0;
    transition: all 0.4s ease-in;
}

.navbar-show{
    opacity: 1;
}